#art {
  border: 2px solid white;
  border-radius: 80px;
}

#Queen {
  background-image: url(../Imgs/Artistas/Queen.jpg);
  background-size: 100px 100px;
}

#RS {
  background-image: url(../Imgs/Artistas/RS.jpg);
  background-size: 100px 100px;

}

#Metallica {
  background-image: url(../Imgs/Artistas/Metallica.jpg);
  background-size: 100px 100px;
}

#AC-DC {
  background-image: url(../Imgs/Artistas/AC-DC.jpg);
  background-size: 100px 100px;
}

#Beatles {
  background-image: url(../Imgs/Artistas/Beatles.jpg);
  background-size: 100px 100px;
}

#GnR {
  background-image: url(../Imgs/Artistas/GnR.jpg);
  background-size: 100px 100px;
}

#TheWeeknd {
  background-image: url(../Imgs/Artistas/TW.jpg);
  background-size: 100px 100px;
}

#AriGrande {
  background-image: url(../Imgs/Artistas/AG.jpg);
  background-size: 100px 100px;
}

#Maroon_V {
  background-image: url(../Imgs/Artistas/Maroon_V.jpg);
  background-size: 100px 100px;
}

#LadyGaga {
  background-image: url(../Imgs/Artistas/LG.gif);
  background-size: 100px 100px;
}

#JB {
  background-image: url(../Imgs/Artistas/JB.jpg);
  background-size: 100px 100px;
}

#DuaLipa {
  background-image: url(../Imgs/Artistas/DuaLipa.jpg);
  background-size: 100px 100px;
}

#JayZ {
  background-image: url(../Imgs/Artistas/JayZ.jpg);
  background-size: 100px 100px;
}

#WTC {
  background-image: url(../Imgs/Artistas/WTC.jpg);
  background-size: 100px 100px;
}

#Lamar {
  background-image: url(../Imgs/Artistas/Lamar.jpg);
  background-size: 100px 100px;
}

#Eminem {
  background-image: url(../Imgs/Artistas/Eminem.jpg);
  background-size: 100px 100px;
}

#Tupac {
  background-image: url(../Imgs/Artistas/2pac.jpg);
  background-size: 100px 100px;
}

#Dogg {
  background-image: url(../Imgs/Artistas/Dogg.jpg);
  background-size: 100px 100px;
}


#Scott {
  background-image: url(../Imgs/Artistas/Scott.jpg);
  background-size: 100px 100px;
}

#LUV {
  background-image: url(../Imgs/Artistas/LUV.jpg);
  background-size: 100px 100px;
}

#JW {
  background-image: url(../Imgs/Artistas/JW.jpg);
  background-size: 100px 100px;
}

#LLJ {
  background-image: url(../Imgs/Artistas/LLJ.jpg);
  background-size: 100px 100px;
}

#Drake {
  background-image: url(../Imgs/Artistas/Drake.jpg);
  background-size: 100px 100px;
}

#RaeSremmurd {
  background-image: url(../Imgs/Artistas/RaeSrem.jpg);
  background-size: 101px 101px;
}

#KiddKeo {
  background-image: url(../Imgs/Artistas/KiddKeo.jpg);
  background-size: 100px 100px;
}

#AnuelAA {
  background-image: url(../Imgs/Artistas/AnuelAA.jpg);
  background-size: 100px 100px;
}

#BadBunny {
  background-image: url(../Imgs/Artistas/BadBunny.jpg);
  background-size: 100px 100px;
}

#KarolG {
  background-image: url(../Imgs/Artistas/KarolG.jpg);
  background-size: 100px 100px;
}

#Duki {
  background-image: url(../Imgs/Artistas/Duki.jpg);
  background-size: 100px 100px;
}

#Cazzu {
  background-image: url(../Imgs/Artistas/Cazzu.jpg);
  background-size: 100px 100px;
}
